*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(back.jpg);
}
#container{
    background-color: rgb(255, 159, 196);
    height: 350px;
    width: 350px;
    text-align: center;
    border-radius: 45px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: solid 2px rgba(189, 189, 228, 0.329);
    
}
#theh1{
    margin: 25px;
    font-weight: 600;
    font-size: 2em;
    color: aliceblue;
}

#textbox{
    width: 75%;
    height: 25%;
    text-align: center;
    border-radius: 5px;
    border:solid 3px rgba(189, 189, 228, 0.678) ;
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;

    
}
#boxinput2{
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 200;
    color: white;
}
.checkbox{
    height: 20px;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
}

#submitbut{
    margin-top: 5%;
    height: 40px;
    width: 150px;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;

}
#submitbut:hover{
    opacity: 0.8;
}
